[user]
	name = ser1zw
	email = azariahsawtikes@gmail.com
[alias]
	co = checkout
	st = status
	br = branch
[color]
	diff = auto
[merge]
	tool = meld
	ff = false
[http]
	sslverify = false
[core]
	autocrlf = input
[init]
	defaultBranch = main
